In [1]:
import pandas as pd
import numpy as np

In [2]:
url = 'https://www.rasmussenreports.com/public_content/politics/obama_administration/obama_approval_index_history'
url_1='https://www.rasmussenreports.com/public_content/politics/trump_administration/trump_approval_index_history'
url_2 ='https://www.rasmussenreports.com/public_content/politics/biden_administration/biden_approval_index_history'
url_3 = 'https://www.usinflationcalculator.com/inflation/historical-inflation-rates/'

In [3]:
tables = pd.read_html(url)
tables_1 = pd.read_html(url_1)
tables_2 = pd.read_html(url_2)
table_3 = pd.read_html(url_3)

In [4]:
df_obama=tables[0]
df_trump = tables_1[0]
df_biden=tables_2[0]
# df_biden["rename"] = df_biden.loc[df_biden["Total Approve"] - df_biden["Total Disapprove"]]
df_inflR = table_3[0]
df_inflR

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Ave
0,1914,2.0,1.0,1.0,0.0,2.1,1.0,1.0,3.0,2.0,1.0,1.0,1.0,1.0
1,1915,1.0,1.0,0.0,2.0,2.0,2.0,1.0,-1.0,-1.0,1.0,1.0,2.0,1.0
2,1916,3.0,4.0,6.1,6.0,5.9,6.9,6.9,7.9,9.9,10.8,11.7,12.6,7.9
3,1917,12.5,15.4,14.3,18.9,19.6,20.4,18.5,19.3,19.8,19.5,17.4,18.1,17.4
4,1918,19.7,17.5,16.7,12.7,13.3,13.1,18.0,18.5,18.0,18.5,20.7,20.4,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,2018,2.1,2.2,2.4,2.5,2.8,2.9,2.9,2.7,2.3,2.5,2.2,1.9,2.4
105,2019,1.6,1.5,1.9,2.0,1.8,1.6,1.8,1.7,1.7,1.8,2.1,2.3,1.8
106,2020,2.5,2.3,1.5,0.3,0.1,0.6,1.0,1.3,1.4,1.2,1.2,1.4,1.2
107,2021,1.4,1.7,2.6,4.2,5.0,5.4,5.4,5.3,5.4,6.2,6.8,7.0,4.7
108,2022,7.5,7.9,8.5,8.3,8.6,Avail. July 13,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df_biden1 = df_biden.drop(df_biden[df_biden["Approval Index"] == "No Polling - Fourth of July"].index)
df_biden2 = df_biden1.drop(df_biden1[df_biden1["Approval Index"] == "No Polling - Thanksgiving"].index)
df_biden3 = df_biden2.drop(df_biden2[df_biden2["Approval Index"] == "No Polling - Christmas"].index)
# count = df_biden3["Approval Index"].value_counts()
df_biden3= df_biden3.dropna(how='any')
df_biden3.reset_index(drop=True, inplace=True)
# 
df_biden3[['Total_Approve','sign']] = df_biden3["Total Approve"].str.split('%', 1, expand=True)
df_biden3[['Total_Disapprove','sign1']] = df_biden3["Total Disapprove"].str.split('%', 1, expand=True)
df_biden3['Total_Approve']=df_biden3['Total_Approve'].astype(int)
df_biden3['Total_Disapprove']=df_biden3['Total_Disapprove'].astype(int)
df_biden3['Relative_Approval'] = df_biden3['Total_Approve'] - df_biden3['Total_Disapprove']
df_biden3['Neutral'] = 100- (df_biden3['Total_Approve'] + df_biden3['Total_Disapprove'] )
del df_biden3['Approval Index']
del df_biden3['Strongly Approve']
del df_biden3['Strongly Disapprove']
del df_biden3['sign']
del df_biden3['sign1']
df_biden3['Date'] = pd.to_datetime(df_biden3['Date'])
df_biden3.sort_values(by='Date')
# df_biden4 = df_biden3.set_index("Date") 
df_biden3.to_csv("static/data/biden_approval.csv", index=True)
df_biden3.to_json("static/data/biden_approval.json")
df_biden3

,Date,Total Approve,Total Disapprove,Total_Approve,Total_Disapprove,Relative_Approval,Neutral
0,2022-07-12,38%,60%,38,60,-22,2
1,2022-07-11,37%,61%,37,61,-24,2
2,2022-07-08,37%,61%,37,61,-24,2
3,2022-07-07,41%,58%,41,58,-17,1
4,2022-07-06,41%,58%,41,58,-17,1
...,...,...,...,...,...,...,...
371,2021-01-28,49%,48%,49,48,1,3
372,2021-01-27,48%,48%,48,48,0,4
373,2021-01-26,48%,47%,48,47,1,5
374,2021-01-25,48%,47%,48,47,1,5
375,2021-01-22,48%,45%,48,45,3,7

In [6]:
df_obama.head()
df_obama1 = df_obama.drop(df_obama[df_obama["Approval Index"] == "No Polling - New Years Eve"].index)
df_obama2 = df_obama1.drop(df_obama1[df_obama1["Approval Index"] == "No Polling--Mothers Day"].index)
df_obama3 = df_obama2.drop(df_obama2[df_obama2["Approval Index"] == "No Polling - Mothers Day"].index)
df_obama4 = df_obama3.drop(df_obama3[df_obama3["Approval Index"] == "No Polling - New Years Day"].index)
df_obama5 = df_obama4.drop(df_obama4[df_obama4["Approval Index"] == "No Polling - New Years"].index)
# 
df_obama6 = df_obama5.drop(df_obama5[df_obama5["Total Approve"] == "No Polling"].index)
df_obama7 = df_obama6.drop(df_obama6[df_obama6["Total Approve"] == "No Polling - Thanksgiving"].index)
df_obama8 = df_obama7.drop(df_obama7[df_obama7["Total Approve"] == "No Polling - Christmas"].index)
df_obama9 = df_obama8.drop(df_obama8[df_obama8["Total Approve"] == "No Polling - Fourth of July"].index)
df_obama9a = df_obama9.drop(df_obama9[df_obama9["Total Approve"] == "No Polling - New Years"].index)
df_obama9b = df_obama9a.drop(df_obama9a[df_obama9a["Total Approve"] == "No polling"].index)

df_obama9b= df_obama9b.dropna(how='any')
df_obama9b.reset_index(drop=True, inplace=True)
# count = df_obama9b["Total Disapprove"].value_counts()
# count
df_obama9b[['Total Approve','sign']] = df_obama9b["Total Approve"].str.split('%', 1, expand=True)
df_obama9b[['Total Disapprove','sign1']] = df_obama9b["Total Disapprove"].str.split('%', 1, expand=True)
df_obama9b['Total Approve']=df_obama9b['Total Approve'].astype(int)
df_obama9b['Total Disapprove']=df_obama9b['Total Disapprove'].astype(int)
df_obama9b['Relative Approval'] = df_obama9b['Total Approve'] - df_obama9b['Total Disapprove']
df_obama9b['Neutral'] = 100- (df_obama9b['Total Approve'] + df_obama9b['Total Disapprove'] )

del df_obama9b['Approval Index']
del df_obama9b['Strongly Approve']
del df_obama9b['Strongly Disapprove']
del df_obama9b['sign']
del df_obama9b['sign1']
df_obama9b['Date'] = pd.to_datetime(df_obama9b['Date'])

df_obama9b.sort_values(by='Date')
df_obama9b.to_csv("output/obama_approval.csv", index=True)

df_obama9b

           Date  Total Approve  Total Disapprove  Relative Approval  Neutral
0    2017-01-17             62                38                 24        0
1    2017-01-16             62                37                 25        1
2    2017-01-13             60                38                 22        2
3    2017-01-12             61                38                 23        1
4    2017-01-11             59                39                 20        2
...         ...            ...               ...                ...      ...
2695 2008-11-10             58                38                 20        4
2696 2008-11-09             56                39                 17        5
2697 2008-11-08             54                41                 13        5
2698 2008-11-07             53                42                 11        5
2699 2008-11-06             52                44                  8        4

[2700 rows x 5 columns]

In [7]:
df_trump.head()
df_trump1 = df_trump.drop(df_trump[df_trump["Approval Index"] == "No Polling - New Years Eve"].index)
df_trump1a = df_trump1.drop(df_trump1[df_trump1["Approval Index"] == "No Polling - New Years Day"].index)
df_trump1b = df_trump1a.drop(df_trump1a[df_trump1a["Approval Index"] == "No Polling - New Years"].index)
df_trump1c = df_trump1b.drop(df_trump1b[df_trump1b["Approval Index"] == "No Polling - Thanksgiving"].index)
df_trump2 = df_trump1c.drop(df_trump1c[df_trump1c["Approval Index"] == "No Polling - Christmas"].index)
df_trump2a = df_trump2.drop(df_trump2[df_trump2["Approval Index"] == "No Polling - Fourth of July"].index)
df_trump3 = df_trump2a.drop(df_trump2a[df_trump2a["Approval Index"] == "No Polling"].index)
# count = df_trump3["Total Approve"].value_counts()
# count
df_trump3= df_trump3.dropna(how='any')
df_trump3.reset_index(drop=True, inplace=True)

df_trump3[['Total Approve','sign']] = df_trump3["Total Approve"].str.split('%', 1, expand=True)
df_trump3[['Total Disapprove','sign1']] = df_trump3["Total Disapprove"].str.split('%', 1, expand=True)

df_trump3['Total Approve']=df_trump3['Total Approve'].astype(int)
df_trump3['Total Disapprove']=df_trump3['Total Disapprove'].astype(int)

df_trump3['Relative Approval'] = df_trump3['Total Approve'] - df_trump3['Total Disapprove']
df_trump3['Neutral'] = 100- (df_trump3['Total Approve'] + df_trump3['Total Disapprove'] )

del df_trump3['Approval Index']
del df_trump3['Strongly Approve']
del df_trump3['Strongly Disapprove']
del df_trump3['sign']
del df_trump3['sign1']
df_trump3['Date'] = pd.to_datetime(df_trump3['Date'])

df_trump3.sort_values(by='Date')
df_trump3.to_csv("output/trump_approval.csv", index=True)

df_trump3

           Date  Total Approve  Total Disapprove  Relative Approval  Neutral
0    2021-01-19             51                48                  3        1
1    2021-01-18             48                51                 -3        1
2    2021-01-15             48                52                 -4        0
3    2021-01-13             46                53                 -7        1
4    2021-01-12             49                50                 -1        1
...         ...            ...               ...                ...      ...
1004 2017-01-26             59                41                 18        0
1005 2017-01-25             57                43                 14        0
1006 2017-01-24             57                43                 14        0
1007 2017-01-23             55                44                 11        1
1008 2017-01-20             56                44                 12        0

[1009 rows x 5 columns]